@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
    font-family: 'Hanken Grotesk', sans-serif;
}

body {
    background-color: var(--white);
}

:root {
/* ## Colors */
/* ### Primary */
--lightred: hsl(0, 100%, 67%);
--orangeyellow: hsl(39, 100%, 56%);
--greenteal: hsl(166, 100%, 37%);
--cobaltblue: hsl(234, 85%, 45%);

/* ## Gradients */
--light-slateblue-bg: hsl(252, 100%, 67%);
--light-royalblue-bg: hsl(241, 81%, 54%);

--violetblue-circle: hsla(256, 72%, 46%, 1);
--persianblue-circle: hsla(241, 72%, 46%, 0);

/* ### Neutral */
--white: hsl(0, 0%, 100%);
--paleblue: hsl(221, 100%, 96%);
--lightlavender: hsl(241, 100%, 89%);
--darkgrayblue: hsl(224, 30%, 27%);
}

